@import './Pallette.scss';

.cart {
    width: 100%;
    padding: $p-2 $p;
    padding-top: $p;
    min-height: 90vh;
    .cart_container {
        max-width: 1100px;
        margin: 0 auto;
        .empty_cart {
            width: 100%;
            height: 60vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            svg {
                fill: $pink;
                margin-bottom: $m;
                width: 40px;
                height: 40px;
            }
            h1 {
                font-size: $f-md;
                font-weight: 400;
                a {
                    color: $pink;
                    text-decoration: underline;
                }
            }
        }
        .cart_header {
            font-size: $f-l;
            font-weight: 600;
            text-align: left;
            margin-bottom: $m-1;
            span {
                color: $pink;
            }
        }
        .cart_items_info {
            display: grid;
            grid-template-columns: 1fr;
            gap: 2rem;
            .cart_summary {
                display: flex;
                justify-content: flex-end;
                .cart_summary_container {
                    max-width: 300px;
                    width: 100%;
                    padding: 1.5rem;
                    background-color: $background_1;
                    box-shadow: $shadow_3;
                    border-radius: 6px;
                    .summary {
                        text-align: left;
                        font-size: $f-md;
                        font-weight: 500;
                        text-transform: uppercase;
                        margin-bottom: 1.5rem;
                        width: 100%;
                    }
                    .cart_summary_item {
                        padding: 0.6rem 0;
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        h2 {
                            font-size: $f-s;
                            font-weight: 400;
                            text-transform: uppercase;
                            color: $primary-text-2;
                        }
                        h3 {
                            font-size: $f-md;
                            font-weight: 400;
                        }
                    }
                    .cart_links {
                        display: flex;
                        flex-direction: column;
                        margin-top: $m;
                        a {
                            padding: $m 1.2rem;
                            border-radius: 5px;
                            display: inline-block;
                            text-transform: uppercase;
                            font-size: $f-s;
                        }
                        .continue {
                            background-color: transparent;
                            border: solid 1px $pink;
                            color: $pink;
                            margin-bottom: $m;
                            font-weight: 600;
                        }
                        .checkout {
                            background-color: $pink;
                            color: $secondary-text;
                        }
                    }
                }
            }
        }
    }
}

.empty_cart {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        font-size: $f-l;
        font-weight: 600;
        line-height: 1.55;
        a {
            color: $pink;
            text-decoration: underline;
        }
    }
}


@media (min-width: 768px) {
    .cart {
        .cart_container {
            .empty_cart {
                h1 {
                    font-size: $f-xl;
                }
            }
        }
    }
}




@media (min-width: 900px) {
    .cart {
        padding: $p-3 $p-1;
        .cart_container {
            .cart_header {
                font-size: $f-xxl;
            }
            .cart_items_info {
                display: grid;
                grid-template-columns: 2fr 1fr;
                gap: 1rem;
            }
        }
    }
}