.grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}



@media (max-width: 300px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 700px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1000px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}
