@import './Pallette.scss';

.new_product {
    width: 100%;
    padding: 1rem;
    border-radius: 3px;
    a {
        .new_product_container {
            .new_product_img {
                width: 100%;
                border-radius: 6px;
                margin-bottom: 1.3rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #efefef;
                img {
                    display: block;
                    width: 140px;
                    height: 140px;
                    object-fit: contain;
                }
            }
            .new_product_info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                h2 {
                    font-size: $f-sm;
                    margin-bottom: 0.7rem;
                    text-transform: capitalize;
                    text-align: left;
                    font-weight: 400;
                }
                div {
                    margin-bottom: $m-s;
                }
                h3 {
                    font-size: $f-sm;
                    font-weight: 500;
                    color: $pink-2;
                }
            }
        }
    }
}



