// BACKGROUND COLORS
$background: #F6F9FC;
$background_1: #FFF;
$background_2: rgba(255,255,255,0.75);
$background_blue: #0F3460;
$background_dark: #282828;


// TEXT COLORS
$primary-text: #2B3445;
$primary-text-1: #373F50;
$primary-text-2: #4B566B;
$primary-text-3: #7D879C;

$secondary-text: #FFF;
$secondary-text-2: #eaeaea;
$secondary-text-3: #adadad;


// COLORS
$primary-color: #d23f57;
$pink: #d23f57;
$pink-2: #e3364e;
$pink_shade: #FCE9EC;
$pink_shade-2: rgba(210, 63, 87, 0.5);
$text-black: #323435;
$text-black-1: #2a2a2b;

$green: #27cf2f;
$red: #d60a2c;
$grey: #d3d3d3;
$white: #fff;
$blue: #5c60f5;
$dark-blue: #04091e;
$sea-blue: #00d4ff;
$salmon: #ff579a;

$border: rgba(0, 0, 0, 0.231);

$img-background: lightgrey;

// SHADOWS
$shadow: 0px 1px 4px 3px rgba(0, 0, 0, 0.1);
$shadow-2: 0px 4px 16px rgba(43, 52, 69, 0.1);
$shadow-3: 0px 1px 3px rgb(3 0 71 / 9%);
$shadow-4: 0px 0px 28px rgb(3 0 71 / 1%);
$shadow-5: 0 0 10px 0 rgb(0 0 0 / 15%);
$shadow-6: 0 0px 1px 1px rgb(3 0 71 / 9%);
$shadow-7: 0 3px 3px -1px rgb(10 22 70 / 10%), 0 0 1px 0 rgb(10 22 70 / 6%);


// FONT FAMILY
$family: 'Rubik, sans-serif';
$family-2: 'Poppins', sans-serif;
$family-3: 'Roboto', sans-serif;


// MARGINS AND PADDING
$m-auto: auto;
$m-0: 0;
$m-s: 0.5rem;
$m: 1rem;
$m-1: 1.5rem;
$m-2: 2rem;
$m-3: 3rem;
$m-4: 4rem;


$p-0: 0;
$p-s: 0.5rem;
$p: 1rem;
$p-1: 1.5rem;
$p-2: 2rem;
$p-3: 3rem;
$p-4: 4rem;
$p-5: 5rem;
$p-6: 6rem;



// FONT SIZES
$f-xs: 0.75rem;
$f-s: 0.87rem;
$f-sm: 0.93rem;
$f-md: 1rem;
$f-l: 1.125rem;
$f-lg: 1.25rem;
$f-xl: 1.37rem;
$f-xxl: 1.56rem;
$f-xxxl: 1.87rem;
$f-huge: 2.5rem;