@import './Mixins.scss';
@import './Pallette.scss';

.forgot_password {
    width: 100%;
    @include flex_center;
    padding: 4rem 1.5rem;
    background-color: $background;
    .forgot_container {
        max-width: 500px;
        background-color: $background_1;
        box-shadow: $shadow-3;
        //border: solid 1px $text-color-5;
        padding: 2rem 1.5rem;
        border-radius: 12px;
        h1 {
            text-align: center;
            font-size: $f-xl;
            font-weight: 600;
            margin-bottom: 1rem;
        }
        
        .icon_div {
            width: 100%;
            @include flex_center;
            margin-bottom: 2rem;
            .icon_circle {
                padding: 1.25rem;
                border-radius: 50%;
                border: 1px dotted $primary-color;
                .icon {
                    background-color: $primary-color;
                    width: 65px;
                    height: 65px;
                    border-radius: 50%;
                    @include flex_center;
                    svg {
                        color: $white;
                        font-size: $f-xxl;
                    }
                }
            }
        }
        p {
            font-size: $f-sm;
            text-align: left;
            color: $primary-text-2;
            margin-bottom: 1rem;
        }
        .links {
            @include flex_center;
            gap: 1rem;
            a {
                color: $primary-color;
                font-size: $f-sm;
                font-weight: 500;
            }
        }
    }
}


@media (min-width: 500px) {
    .forgot_password {
        .forgot_container {
            padding: 3rem;
        }
    }
}


@media (min-width: 768px) {
    .forgot_password {
        .forgot_container {
            h1 {
                font-size: $f-xxl;
                margin-bottom: 1.5rem;
            }
            p {
                font-size: $f-md;
            }
            .links {
                a {
                    font-size: $f-md;
                }
            }
        }
    }
}