@import './Pallette.scss';

.search_title {
    display: grid;
    grid-template-columns: 40% 58%;
    gap: 0.3rem;
    padding: $p-s;
    background-color: $background_1;
    box-shadow: $shadow-3;
    border-radius: 4px;
    .titlee {
        margin-bottom: $m-s;
        h2 {
            font-size: $f-s;
            font-weight: 400;
            margin-bottom: 0.3rem;
            text-align: left;
            span {
                color: $pink;
                font-weight: 600;
            }
        }
        .mega {
            font-size: $f-md;
            font-weight: 600;
        }
        h3 {
            font-size: $f-s;
            font-weight: 400;
            color: $primary-text-3;
            text-align: left;
        }
    }
    .sort {
        position: relative;
        h3 {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-size: $f-s;
            font-weight: 400;
            span {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                border: solid 1px $border;
                border-radius: 5px;
                padding: 0.1rem 0.2rem;
                font-size: $f-xs;
                margin-left: $m-s;
                text-transform: capitalize;
                button {
                    margin-left: $m-s;
                    transform: rotate(0);
                    transition: 0.3s linear;
                }
                .rotate {
                    transform: rotate(90deg);
                }
            }
        }
        .options {
            background-color: $background_1;
            border-radius: 5px;
            box-shadow: $shadow-5;
            position: absolute;
            top: 40px;
            left: 0;
            width: 200px;
            button {
                width: 100%;
                padding: 0.7rem 1rem;
                font-size: $f-s;
                text-align: left;
            }
        }
    }
}



@media (min-width: 601px) {
    .search_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $p-s $p;
        .titlee {
            margin-bottom: 0;
            h2 {
                font-size: $f-md;
                margin-bottom: $m-s;
            }
            .mega {
                font-size: $f-xl;
            }
            h3 {
                font-size: $f-sm;
            }
        }
        .sort {
            justify-content: flex-end;
            h3 {
                font-size: $f-sm;
                span {
                    padding: 0.2rem 0.4rem;
                    font-size: $f-s;
                }
            }
            .options {
                button {
                    &:hover {
                        background-color: $background;
                    } 
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .search_title {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .titlee {
            margin-bottom: 0;
        }
    }
}