<html>
    <head>
        <style>
            h3 { font-size: 1.5rem; font-weight: 600; margin-bottom: 1.5rem; } 
            p { font-size: 1rem; margin-bottom: 0.75rem; line-height: 1.5; }
            footer { margin-top: 5rem; }
            title {
                text-align: center;
                text-decoration: underline 2px dodgerblue;
                font-weight: 400;
                font-size: 1.3rem;
                margin-bottom: 0.75rem;
            }
        </style>
    </head>
    <body>
        <h3>Hi Admin,</h3>
        <p>You have a new message from <b>{{name}}</b> with phone number <b>{{phone}}</b>.</p>
        <h4>{{title}}</h4>
        <p>{{subject}}</p>
        <footer>
            <p>Wishing you all the best from Yonaguni predictions, the best and
                only the best</p>
        </footer>
    </body>
</html>