<html>
    <head>
        <style>
            h3 {
                font-size: 1.5rem;
                font-weight: 600;
                margin-bottom: 1.5rem;
            }
            p {
                font-size: 1rem;
                margin-bottom: 0.75rem;
                line-height: 1.5;
            }
            a {
                font-size: 1rem;
            }
            footer {
                margin-top: 5rem;
            }
        </style>
    </head>
    <body>
        <h3>Hi {{name}},</h3>
        <p>Your password has been changed successfully.</p>
        <footer>
            <p>Happy shopping and warm regards from everyone at Chavonn.</p>
        </footer>
    </body>
</html>